:where(.heading, .title, .text) { color: var(--text1); }

.side-bar {
	display: flex;
  flex-wrap: wrap;
  gap: var(--size-3);
  max-inline-size: 1430px;
  margin: 0 auto;
	padding-block-start: var(--size-3);
	padding-inline: var(--size-3);
	& > :first-child {
		flex-grow: 1;
		@media (min-width: 712px) {
			max-inline-size: 445px;
		}
		min-inline-size: 200px;
	}
	
	& > :last-child {
		flex-basis: 0;
		flex-grow: 2;
		min-inline-size: 50%;
	}
}

.profile {
	display: grid;
	grid-auto-rows: max-content;
	row-gap: var(--size-3);
	padding-block-end: var(--size-3);
	& > *:not(.profile__header) { margin-inline: var(--size-3); }
	& .profile__header {
		display: grid;
		grid-template: [start] 1fr / [end] 1fr;
		position: relative;
		& > * { grid-area: start / end; }
	}
	& .profile__img {
		max-height: 216px;
		width: 100%;
		object-fit: cover;
	}
	& .profile__title {
		align-self: end;
		padding: 0 0 0.8ch 0.5ch;
		font:
			var(--font-weight-3)
			var(--font-size-5)
			var(--font-sans);
		& span { position: relative; z-index: 1; }
		&::before {
			content: '';
			position: absolute;
			bottom: 0; left: 0;
			height: 60px; width: 100%;
			background:
				linear-gradient(
					to bottom,
					hsl(var(--shadow) / 0) 0%,
					hsl(var(--shadow) / 50%) 50%,
					hsl(var(--shadow) / 100%) 100%
				);
		}
	}
}

.content { grid-auto-rows: max-content; }

.skillset {
	& .skillset__header {
		margin-block-start: var(--size-3);
	}
	& .skillset__title { margin-block: initial; }
	& .skillset__percentage {
		height: var(--height, 18px);
		overflow: hidden;
		position: relative;
		background-color: var(--surface1);
		border-radius: var(--radius-6);
		&.big { --height: 24px; }
	}
	& .skillset__bar {
		width: calc(10% * var(--width, 1));
		padding: var(--size-1);
		position: absolute;
		left: 0; top: 50%;
		transform: translateY(-50%);
		background-color: var(--brand);
		border-radius: var(--radius-round);
		color: var(--text2);
		font-size: var(--font-size-0);
		text-align: center;
	}
}

.list { padding: 0; }

.experience {
	padding: var(--size-3);
	& .experience__title { padding-block-end: var(--size-6); }
	& .experience__list { padding-inline-start: var(--size-3); }
	& li + li { margin-block-start: var(--size-3); }
}

.current {
	padding: 2px var(--size-1);
	background-color: var(--brand);
	border-radius: var(--radius-1);
	color: var(--text2);
	font-weight: var(--font-weight-6);
}

.card {
	& + .card {margin-block-start: var(--size-3); }
	& .card__title {
		max-inline-size: 80ch;
	}
}

.footer {
  grid-template-columns: max-content;
	place-content: center;
	padding-block: var(--size-3);
	margin-block-start: var(--size-3);
	background: var(--brand);
	color: var(--text2);
	text-align: center;
	& .footer__text { color: currentColor; }
	& .list {
    column-gap: var(--size-2);
    justify-content: center;
  }
	& .footer__footnote {
    inline-size: 60ch;
    font-size: var(--font-size-0);
  }
}

.link {
  color: var(--link);
  &:hover { color: var(--link-hover); }
}

:is(
	.icon,
	.card__period
) { color: var(--brand); }

:is(
	.profile,
	.content > *
) { background-color: var(--surface2); }